In [ ]:
# print(*valuse, sep, end)

In [1]:
print(1, 2, 3, "머쓱이")

1 2 3 머쓱이

In [4]:
print(1, 2, 3, "머쓱이", sep="-")
# sep 안에 나눠주는 문자 입력 가능

1-2-3-머쓱이

In [7]:
print(1, 2, 3, "머쓱이" , end='입니다\n\n')
print("테스트")

1 2 3 머쓱이입니다

테스트

In [8]:
print(1, 2, 3, "머쓱이", sep='\t', end='\n\n')
print("테스트")

1	2	3	머쓱이

테스트